.card {
border: 1px solid #555555;
}

.card-description {
  color: rgb(223, 219, 219);
  text-align: justify;
  font-size: 10px;
}

.card-title {
  text-align: center;
  color: rgb(223, 219, 219)  ;
  text-decoration: underline;
}

.card-image {
  height: 350px;
}