.movie-poster {
  max-width: 100%;
  max-height: 600px;
}

.view-description {
  text-align: left;
  align-items: space-evenly;
}

.description-row {
  height: 25%;
}

.button-pane {
  width: 100%;
  border: 1px solid red;
}

.back-button {
  margin-right: 0;

  right: 0;
}

