$text-color: rgb(223, 219, 219);

.movie-poster {
  max-width: 100%;
  max-height: 600px;
}

.view-description {
  text-align: left;
}


.button-pane {
  width: 100%;
  margin-bottom: 5px;
  display:flex;
  justify-content: flex-end;
}

.view-label {
  padding-right: 5px;
}

.movie-title {
  color: $text-color;
  height: 15%;
}

.movie-description {
  text-align: justify;
  color: $text-color;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.description-row {
  height: 10%;
  color: $text-color;
}

