$text-color: rgb(223, 219, 219);

.movie-poster {
  max-width: 100%;
  max-height: 800px;
}

.view-description {
  text-align: left;
}


.view-button-pane {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}



.view-label {
  padding-right: 5px;
}

.movie-title {
  color: $text-color;
  height: 110px;
}

.movie-description {
  text-align: justify;
  color: $text-color;
  min-height: 200px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-row {
  height: 30px;
  color: $text-color;
}

.view-container {
  padding-top: 20px;
}

.view-button {
  margin-right: 5px;
}

.message {
margin-right: 0;
color: $text-color;
width: 40%;
height: 10px;
padding-top: 5px;
padding-left: 10px;
text-align: left;
}

.fav {
  height: 50px;
  width: 50px;
}

.login-message {
color: $text-color;
//border: 2p4x solid white;
height: 90%;
display: flex;
align-items: center;
}

.favbutton {
  outline: none;
  border: none !important;
  background-color: none !important;
}

.favbutton:active,
.favbutton:focus {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}