.filter-input {
  width: 300px;
  margin-left: 5px;
}

.movie-list-button {
  margin-right: 10px;
}

.movies-list {
  width: 100%;

}

.spinner {
  position: absolute;
  top: 300px;
  left: 0;
  //text-align: center;
  z-index: -1;
  width: 100%;

}