.profile-container {
  padding-top: 40px;
}


.profile-form {
  margin: 120px auto;

}

.profile-label {
  color: rgb(223, 219, 219);
  padding-left: 5px;
}

.button-area {
  margin-top: 30px;
  text-align: right;
}

.profile-button {
  color: rgb(223, 219, 219);
  width: 120px;
}

.profile-button-area {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}


.change-button-area {
  text-align: right;
}


.password-button {
  color: rgb(223, 219, 219);

  margin-right: 10px; 
}

.tr {

  border-bottom: 1px solid rgb(223, 219, 219);

}

.table {
  text-align: start;
}

li {
  list-style-type: none;
}

.bottom {
 text-align: left;
}

.error-message {
  color: rgb(223, 219, 219);

}