.register-form {
  margin: 120px auto;

}

.register-label {
  color: rgb(223, 219, 219);
  padding-left: 5px;
}

.button-area {
  margin-top: 30px;
  text-align: right;
}

.register-button {
  color: rgb(223, 219, 219);
  width: 120px;
}